<nav class="site-nav" aria-label="Site">
<div class="site-nav-inner">
<a class="site-name" href="{{ROOT}}./">The Squares Project</a>
<a data-page="overview" href="{{ROOT}}./">Overview</a>
<a data-page="frontier" href="{{ROOT}}frontier.html">Frontier</a>
<a data-page="explainer" href="{{ROOT}}explainer.html">Explainer</a>
<a data-page="tutorial" href="{{ROOT}}tutorial.html">Tutorial</a>
<a data-page="synopsis" href="{{ROOT}}synopsis.html">Synopsis</a>
<a data-page="workbench" href="{{ROOT}}workbench/">Workbench</a>
<a data-page="github" href="https://github.com/jlevy/squares">GitHub</a>
<span class="site-edition">{{EDITION}}</span>
</div>
</nav>
